<div class="card">
  <a href="{{ path_for('products.get', {slug: product.slug}) }}"><img class="img-fluid" src="{{product.image}}" alt="{{product.title}} image" /></a>
  <div class="caption">
    <h4 class="card-header">
      <a href="{{ path_for('products.get',{slug: product.slug})}}">{{product.title}}</a>
    </h4>
    <p class="card-body">{{product.description}}</p>
  </div>
</div>